<!-- This is the footer tag of the default layout -->
<footer >
  <table style="width:90%; margin-left:50px;" border=0px>
      <tr>
	<td>
	  <a href="{{ '/' | absolute_url }}">
           <img src="{{site.url | append: site.baseurl | append: '/assets/images/gmnd_symbol.png'}}" height=50 width=50/>
          </a>
         </td>
	<td align="left">
	  This is a footer </br>
	  This is another line in the same td 
	</td>
	<td>
          This is the last cell
        </td>
      </tr>
     </table>
 </footer>

