<!-- This is the footer tag of the default layout -->
<footer >
  <table style="width:90%; margin-left:50px;" border=none>
      <tr>
	<td width=30%>
	  <a href="{{ '/' | absolute_url }}">
            <img src="{{site.url | append: site.baseurl | append: '/assets/images/gmnd_logo.png'}}" height=70px/>
          </a>
         </td>
	<td>	  
		<a href="{{ site.url | append: site.baseurl | append: '/#group-idea' }}">Why Group? </a></br>
 		<a href="{{site.url | append: site.baseurl | append: '/#tb-ws' }}">TB Workshop</a></br>
		<a href="{{site.url | append: site.baseurl | append: '/#pilot' }}">Case Study</a></br>
 		<a href="{{site.url | append: site.baseurl | append: '/#about-us' }}">About Us</a>
	</td>
      </tr>
     </table>
 </footer>

